<h1>Details of file</h1>
<%- link_to('Edit', path_to.edit_file(file)) %>
<%- link_to('Delete', path_to.file(file), {method: 'delete', remote: true, jsonp: '(function (u) { location.href = u; })'}) %><br/>
<%- link_to('Back to index', path_to.files) %>
